
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

body ,html{
  padding: 0;
  margin: 0;
  background-image: url('https://syntax.tailwindui.com/_next/static/media/blur-cyan.d28a5585.png');
  background-size: cover;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}